@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Trash Collection Services</h1>
    <p class="lead">We treasure your trash.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-6" align="center">
        <h2>Customers</h2>
        <p>
            1. Create your account.<br />
            2. Schedule your pickups<br />
            3. View billing information.
        </p>
        @*<p><a class="btn btn-default" href="/Account/Login">Enter &raquo;</a></p>*@
    </div>
    <div class="col-md-6" align="center">
        <h2>Employees</h2>
        <p>
            1. Create your account.<br />
            2. View your route information<br />
        </p>@*<a class="btn btn-default" href="/Account/Login">Enter &raquo;</a>*@
    </div>
</div>
<div class="row">
    <div class="col-med-12" align="center">
        <p><a class="btn btn-default" href="/Account/Login">Enter &raquo;</a></p>
    </div>
</div>

